@use 'sass:map';
@use '@angular/material' as mat;
@use 'bnl-colors' as bnl-theme;
@use 'color-bridge';
@use 'logos';

@include mat.core();

$bnl-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary:  bnl-theme.$primary-palette,
    tertiary: bnl-theme.$tertiary-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    plain-family: 'Roboto, sans-serif',
  )
));

.bnl {
  @include mat.all-component-themes($bnl-theme);
  @include mat.system-level-colors($bnl-theme);
  @include mat.system-level-typography($bnl-theme);

  --layout-sidenav-border: none;
  --layout-toolbar-border: none;
  --layout-logo-url: url("#{logos.$bnl}");

  @include color-bridge.apply();

  .app-logo-link {
    display: flex;
  }
}
