@use 'sass:map';
@use '@angular/material' as mat;
@use 'cobalt-colors' as cobalt-theme;
@use 'color-bridge';
@include mat.core();

$cobalt-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: cobalt-theme.$primary-palette,
    tertiary: cobalt-theme.$tertiary-palette
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    plain-family: 'Roboto, sans-serif',
  )
));

.cobalt {
  // Apply the material theme variables
  @include mat.all-component-themes($cobalt-theme);
  @include mat.system-level-colors($cobalt-theme);
  @include mat.system-level-typography($cobalt-theme);


  --layout-sidenav-border: none;
  --layout-toolbar-border: none;
  --mat-sys-surface-variant: var(--mat-sys-tertiary-container);

  @include color-bridge.apply();
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-error),
    button-color: var(--mat-sys-on-error),
  ))
}


