@use 'sass:map';
@use '@angular/material' as mat;
@use 'forest-colors' as forest-theme;
@use 'color-bridge';
@include mat.core();

$forest-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary:  forest-theme.$primary-palette,
    tertiary: forest-theme.$tertiary-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    plain-family: 'Roboto, sans-serif',
  ),
  density: (
    scale: -2,
  )

));

.forest {
  @include mat.all-component-themes($forest-theme);
  @include mat.system-level-colors($forest-theme);
  @include mat.system-level-typography($forest-theme);

  --layout-sidenav-border: none;
  --layout-toolbar-border: none;
  --mat-sys-surface-variant: var(--mat-sys-tertiary-container);

  @include color-bridge.apply();
}

@include mat.select-overrides((
  panel-background-color: mat.get-theme-color($forest-theme, neutral, 95),
));

@include mat.datepicker-overrides((
  calendar-container-background-color: mat.get-theme-color($forest-theme, neutral, 95),
));

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-error),
    button-color: var(--mat-sys-on-error),
  ))
}
