@use 'sass:map';
@use '@angular/material' as mat;
@use 'gpa-colors' as gpa-theme;

@include mat.core();

$gpa-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary:  gpa-theme.$primary-palette,
    tertiary: gpa-theme.$tertiary-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    plain-family: 'Roboto, sans-serif',
  )
));

.gpa {
  @include mat.all-component-themes($gpa-theme);
  @include mat.system-level-colors($gpa-theme);
  @include mat.system-level-typography($gpa-theme);

  --layout-sidenav-border: none;
  --layout-toolbar-border: none;
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-error),
    button-color: var(--mat-sys-on-error),
  ))
}

