@use 'sass:map';
@use '@angular/material' as mat;
@use 'poste-colors' as pi-theme;

@include mat.core();

// Define the Poste theme using the generated palettes
$poste-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: pi-theme.$primary-palette,
    tertiary: pi-theme.$tertiary-palette
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    plain-family: 'Roboto, sans-serif',
  )
));

.poste {
  // Apply the material theme variables
  @include mat.all-component-themes($poste-theme);
  @include mat.system-level-colors($poste-theme);
  @include mat.system-level-typography($poste-theme);

  --layout-sidenav-border: none;
  --layout-toolbar-border: none;
  --mat-sys-surface-variant: var(--mat-sys-tertiary-container);
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-error),
    button-color: var(--mat-sys-on-error),
  ))
}


