@use 'sass:map';
@use '@angular/material' as mat;

// Poste Italiane Blue: #005495 (Primary)
// Poste Italiane Yellow: #ffcc00 (Tertiary)

$_palettes: (
  primary: (
    0: #000000,
    10: #001a34,
    20: #002f51,
    25: #003a62,
    30: #004672,
    35: #005183,
    40: #005e95,
    50: #0077ba,
    60: #0091df,
    70: #38abff,
    80: #88cfff,
    90: #c9e6ff,
    95: #e6f2ff,
    98: #f3f9ff,
    99: #f9fcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #1b1b1f,
    20: #303034,
    25: #3b3b3f,
    30: #47474b,
    35: #525257,
    40: #5e5e63,
    50: #77767c,
    60: #919096,
    70: #acaab1,
    80: #c8c6cc,
    90: #e4e1e8,
    95: #f2f0f7,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #261900,
    20: #402d00,
    25: #4e3800,
    30: #5d4300,
    35: #6c4f00,
    40: #7b5a00,
    50: #9b7200,
    60: #bc8b00,
    70: #dea400,
    80: #ffbe00, // Close to #ffcc00
    90: #ffdf9e,
    95: #ffefd2,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c1e,
    20: #2f3033,
    25: #3a3b3e,
    30: #46474a,
    35: #515256,
    40: #5d5e62,
    50: #76777a,
    60: #909194,
    70: #aaaaae,
    80: #c6c6ca,
    90: #e2e2e6,
    95: #f0f0f5,
    98: #f9f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #171c22,
    20: #2c3137,
    25: #373c42,
    30: #42474e,
    35: #4e535a,
    40: #5a5f66,
    50: #72777f,
    60: #8c9199,
    70: #a7abb4,
    80: #c2c7cf,
    90: #dee3eb,
    95: #ecf1f9,
    98: #f7f9ff,
    99: #fafcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
